<%= form_for(return_request) do |f| %>
  <% if return_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(return_request.errors.count, "error") %> prohibited this return_request from being saved:</h2>

      <ul>
      <% return_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :order_id %>
    <%= f.number_field :order_id %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
