<p id="notice"><%= notice %></p>

<h1>Return Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Order</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @return_requests.each do |return_request| %>
      <tr>
        <td><%= return_request.user_id %></td>
        <td><%= return_request.order_id %></td>
        <td><%= return_request.status %></td>
        <td><%= link_to 'Show', return_request %></td>
        <td><%= link_to 'Edit', edit_return_request_path(return_request) %></td>
        <td><%= link_to 'Destroy', return_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Return Request', new_return_request_path %>
