<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Book Store | Home</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> -->

  </head>
  <body>
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start header section -->
    <%= render 'shared/header' %>
    <!-- End of header section -->
    <!-- Start of menu section -->
    <%= render 'shared/menu' %>
    <!-- End of menu section -->
    <section id="aa-myprofile">
      <div class="container">
        <div class="row profile">
      		<div class="col-md-3">
      			<div class="profile-sidebar">
              <div class="aa-myprofile-area">
                <%= image_tag(current_user.avatar, alt: 'Your profile picture') %>
              </div>
      				<div class="profile-usertitle">
      					<div class="profile-usertitle-name">
      						<span class="hidden-xs">Hareesh Vudari</span>
      					</div>
      				</div>
              <div class="profile-userinfo">
                <div class="profile-usertitle-name">
                  <small>
                    <cite title="San Francisco, USA">
                      San Francisco, USA <i class="glyphicon glyphicon-map-marker"></i>
                    </cite>
                  </small>
                </div>
              </div>
              <div class="profile-userinfo">
                <div class="profile-usertitle-name">
                  <small>
                    <i class="glyphicon glyphicon-envelope"></i>email@example.com
                  </small>
                </div>
              </div>
              <div class="profile-userinfo">
                <div class="profile-usertitle-name">
                  <small>
                    <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
                  </small>
                </div>
              </div>

      				<!-- END SIDEBAR USER TITLE -->
      				<div class="profile-usermenu">
      					<ul class="nav nav-tabs">
      						<li class="active">
                    <a href="#personl_info" data-toggle="tab">
      							<i class="glyphicon glyphicon-home"></i>
      							<span class="hidden-xs">Personal<span></a>
      						</li>
      						<li>
      							<a href="#personal_addr" data-toggle="tab">
      							<i class="glyphicon glyphicon-map-marker"></i>
      							<span class="hidden-xs">Personal Address<span> </a>
      						</li>
      						<li>
      							<a href="#">
      							<i class="glyphicon glyphicon-ok"></i>
      							<span class="hidden-xs">My Membership <span></a>
      						</li>
      						<li>
      							<a href="#">
      							<i class="glyphicon glyphicon-flag"></i>
      							<span class="hidden-xs">Delivery Addresses<span></a>
      						</li>
      					</ul>
      				</div>
      			</div>
      		</div>
      		<div class="col-md-9 order-content">
            <div class="tab-content">
              <div class="tab-pane active" id="personal_info">
                <h4 class="heading"><strong>Personal </strong> Info <span></span></h4>
                I am here
      	       </div>
               <div class="tab-pane" id="personal_addr">
                 <h4 class="heading"><strong>Personal </strong> Address <span></span></h4>
                 I  am here too
               </div>
             </div>
          </div>
      	</div>
      </div>
    </section>
    <%= render 'shared/support' %>
    <%= render 'shared/subscribe' %>
    <%= render 'shared/footer' %>
