<!-- start header top  -->
<div class="aa-header-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-header-top-area">
          <!-- start header top left -->
          <div class="aa-header-top-left">
            <!-- start language -->
            <div class="aa-language">
              <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <img src="img/flag/english.jpg" alt="english flag">ENGLISH
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#"><img src="img/flag/french.jpg" alt="">FRENCH</a></li>
                  <li><a href="#"><img src="img/flag/english.jpg" alt="">ENGLISH</a></li>
                </ul>
              </div>
            </div>
            <!-- / language -->

            <!-- start currency -->
            <div class="aa-currency">
              <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-usd"></i>USD
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#"><i class="fa fa-euro"></i>EURO</a></li>
                  <li><a href="#"><i class="fa fa-jpy"></i>YEN</a></li>
                </ul>
              </div>
            </div>
            <!-- / currency -->
            <div class="cellphone hidden-xs">
              <p><span class="fa fa-phone"></span>00-62-658-658</p>
            </div>
            <!-- / cellphone -->
          </div>
          <!-- / header top left -->
          <div class="aa-header-top-right">
            <ul class="aa-head-top-nav-right">
              <% if user_signed_in? %>
                <li class="hidden-xs">Hi <span> <%= current_user.email %> </span>
                <% @user_info = current_user.user_info %>
                <% if @user_info.present? %>
                  <li><%= link_to 'My Avatar', user_info_path(@user_info) %></li>
                <% else %>
                  <li><%= link_to 'My Avatar', new_user_info_path %></li>
                <% end %>
                <li class="hidden-xs"><% link_to 'My Wishlist', "#" %></li>
                <li class="hidden-xs"><%= link_to 'My Cart', carts_path %></li>
                <li class="hidden-xs"><%= link_to 'Checkout', orders_path %></li>
                <li class="hidden-xs">
                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li><%= link_to 'Login', new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / header top  -->
