<!-- start header top  -->
<div class="aa-header-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-header-top-area">
          <!-- start header top left -->
          <div class="aa-header-top-left">
            <div class="cellphone hidden-xs">
              <p><span class="fa fa-phone tealincolor"></span>+91 819007 1086</p>
            </div>
            <div class="cellphone hidden-xs">
              <p>
                <span class="fa fa-envelope tealincolor"></span>
                support@virtuallib.com
              </p>
            </div>
            <!-- / cellphone -->
          </div>
          <!-- / header top left -->
          <div class="aa-header-top-right">
            <% if user_signed_in? %>
              <ul class="aa-head-top-nav-right-signed-in">
                <% @user_info = current_user.user_info %>
                <% if @user_info.present? %>
                  <li class="hidden-xs">
                    <%= link_to user_info_path(@user_info), "data-toggle": "tooltip", "data-placement":"bottom", title: 'My Avatar' do %>
                      Hi <span> <%= current_user.email %>! </span><i class="fa fa-user tealincolor"></i>
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to new_user_info_path, "data-toggle": "tooltip", "data-placement":"bottom", title: 'My Avatar' do %>
                      Hi <span> <%= current_user.email %>! </span><i class="fa fa-user tealincolor"></i>
                    <% end %>
                  </li>
                <% end %>
                <li class="hidden-xs">
                  <%= link_to "#", "data-toggle": "tooltip", "data-placement":"bottom", title: 'My Bookmarks' do %>
                    <i class="fa fa-bookmark tealincolor medium-size-icons"></i>
                  <% end %>
                </li>
                <li class="hidden-xs">
                  <%= link_to carts_path, "data-toggle": "tooltip", "data-placement":"bottom", title: 'My Library' do %>
                    <i class="fa fa-book tealincolor medium-size-icons"></i>
                  <% end %>
                </li>
                <li class="hidden-xs">
                  <%= link_to destroy_user_session_path, "data-toggle": "tooltip", "data-placement":"bottom", title: 'Sign Out', method: :delete  do %>
                    <i class="fa fa-sign-out tealincolor medium-size-icons"></i>
                  <% end %>
                </li>
              </ul>
            <% else %>
              <ul class="aa-head-top-nav-right">
                <li>
                  <%= link_to new_user_session_path, class:"fa fa-sign-in" do %>
                      <span class="link_to_font">Log In</span>
                  <% end %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / header top  -->
