<!-- New Shipping Address -->
<%= form_tag(cart_orders_path, method: :post) do %>
 <div class="panel panel-default aa-checkout-billaddress">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
         Add New Shippping Address
       </a>
     </h4>
   </div>
 <div id="collapseFour" class="panel-collapse collapse">
   <div class="panel-body">
     <% form_tag 
      <div class="row">
         <div class="col-md-6">
           <div class="aa-checkout-single-bill">
             <%= text_field_tag :first_name, "", placeholder: 'First Name*', required: true %>
           </div>
         </div>
         <div class="col-md-6">
           <div class="aa-checkout-single-bill">
             <%= text_field_tag :last_name, "", placeholder: 'Last Name' %>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-12">
           <div class="aa-checkout-single-bill">
             <%= text_field_tag :company_name, "", placeholder: 'Company Name' %>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="aa-checkout-single-bill">
             <%= text_field_tag :contact_no, "", placeholder: 'Contact Number*' %>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-12">
           <div class="aa-checkout-single-bill">
             <textarea cols="8" rows="3" id="new_address" placeholder="Address*"></textarea>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="aa-checkout-single-bill">
             <input type="text" id="house_no" placeholder="Appartment, Suite etc.">
           </div>
         </div>
         <div class="col-md-6">
           <div class="aa-checkout-single-bill">
             <input type="text" id="city" placeholder="City / Town*">
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="aa-checkout-single-bill">
             <input type="text" id="district" placeholder="District*">
           </div>
         </div>
         <div class="col-md-6">
           <div class="aa-checkout-single-bill">
             <input type="text" id= "zipcode" placeholder="Postcode / ZIP*">
           </div>
         </div>
       </div>
        <div class="row">
         <div class="col-md-12">
           <div class="aa-checkout-single-bill">
             <textarea cols="8" rows="3" id= "special_notes" placeholder="Special Notes"></textarea>
           </div>
         </div>
       </div>
       <div class="aa-delivery-addrs-btn">
         <%= submit_tag 'Deliver to this address', class: 'aa-browse-btn' %>
       </div>
     <% end %>
