<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @wallet.user_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @wallet.amount %>
</p>

<%= link_to 'Edit', edit_wallet_path(@wallet) %> |
<%= link_to 'Back', wallets_path %>
