<li>
  <figure>
    <a class="aa-product-img" href="#">
      <%= image_tag(book.front_image, alt: "#{book.name} image") %>
    </a>
    <%= link_to book_carts_path(book), method: :post, class: "aa-add-card-btn" do %>
      <span class="fa fa-book"></span>Rent Now</a>
    <% end %>    
      <figcaption>
        <h4 class="aa-product-title">
          <%= link_to book.name, book %>
        </h4>
        <span class="aa-product-price">
          ₹<%= book.price.to_i %>
        </span>

        <% if !home %>
          <p class="aa-product-descrip">
            <%= book.desc %>
          </p>
        <% end %>
    </figcaption>
  </figure>
  <div class="aa-product-hvr-content">
    <% if user_signed_in? %>
      <% if current_user.bookmark_selected?(book.id) %>
        <% @bookmark = book.bookmark(current_user.id) %>
        <%= link_to bookmark_path(@bookmark), method: :post, "data-toggle": "tooltip", "data-placement":"top", title: "Remove from Bookmark", class: 'aa-bookmark-selected'  do %>
          <span class="fa fa-bookmark"></span>
        <% end %>
      <% else %>
        <%= link_to book_bookmarks_path(book), method: :post, "data-toggle": "tooltip", "data-placement":"bottom", title: "Add to Bookmark"  do %>
          <span class="fa fa-bookmark"></span>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to book_bookmarks_path(book), method: :post, "data-toggle": "tooltip", "data-placement":"bottom", title: "Add to Bookmark"  do %>
        <span class="fa fa-bookmark"></span>
      <% end %>
    <% end %>
  </div>
</li>
