<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Book Store | Home</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> -->

  </head>
  <body>
   <!-- wpf loader Two -->
    <!-- <div id="wpf-loader-two">
      <div class="wpf-loader-two-inner">
        <span>Loading</span>
      </div>
    </div> -->
    <!-- / wpf loader Two -->
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->
  <!-- Start header section -->
    <%= render 'shared/header' %>
  <!-- End of header section -->
  <!-- Start of menu section -->
    <%= render 'shared/menu' %>
  <!-- End of menu section -->
  <!-- Start slider -->
  <section id="aa-slider">
  </section>
  <!-- / slider -->
    <!-- Start Promo section -->
    <section id="aa-promo">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-promo-area">
              <div class="row">
                <!-- promo left -->
                <div class="col-md-5 no-padding">
                  <div class="aa-promo-left">
                    <div class="aa-promo-banner">
                      <!-- <img src="fictional_45.png" alt="fictional books"> -->
                      <% @filename = "#{@categories[0].name}.jpg" %>
                      <%= image_tag(@filename, alt: "#{@categories[0].name} books") %>
                      <div class="aa-prom-content">
                        <h4><%= link_to @categories[0].name, books_url %></a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- promo right -->
                <div class="col-md-7 no-padding">
                  <div class="aa-promo-right">
                    <% @categories[1..4].each do |category| %>
                      <div class="aa-single-promo-right">
                        <div class="aa-promo-banner">
                          <% @filename = "#{category.name}.jpg" %>
                          <%= image_tag(@filename, alt: "#{category.name} books") %>
                          <div class="aa-prom-content">
                            <h4>
                              <%= link_to category.name, books_url(category: category.name), { 'data-toggle': "tab"} %>
                            </h4>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / Promo section -->
    <!-- Products section -->
    <section id="aa-product">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="aa-product-area">
                <div class="aa-product-inner">
                  <!-- start prduct navigation -->
                   <ul class="nav nav-tabs aa-products-tab">
                     <% if @categories[0].present? %>
                      <li class="active"><a href="#fictional" data-toggle="tab">Fictional</a></li>
                     <% end %>
                     <% if @categories[1].books.present? %>
                      <li><a href="#non-fictional" data-toggle="tab">Non-Fictional</a></li>
                     <% end %>
                     <% if @categories[2].books.present? %>
                      <li><a href="#self-help" data-toggle="tab">Self-Help</a></li>
                     <% end %>
                     <% if @categories[3].books.present? %>
                      <li><a href="#competition-exams" data-toggle="tab">Competition Exams</a></li>
                     <% end %>
                     <% if @categories[4].books.present? %>
                      <li><a href="#educational" data-toggle="tab">Educational</a></li>
                     <% end %>
                     <% if @categories[5].books.present? %>
                      <li><a href="#spiritual" data-toggle="tab">Spiritual</a></li>
                     <% end %>
                   </ul>
                   <!-- Tab panes -->
                    <div class="tab-content">
                     <!-- Start fictional book category -->
                      <div class="tab-pane fade in active" id="fictional">
                        <ul class="aa-product-catg">
                          <% @books = @categories[0].books.limit(4) %>
                          <%= render partial: 'book', collection: @books, locals: {home: true} %>
                        </ul>
                      </div>
                      <div class="tab-pane fade" id="non-fictional">
                        <ul class="aa-product-catg">
                          <% @books = @categories[1].books.limit(4) %>
                          <%= render partial: 'book', collection: @books, locals: {home: true} %>
                        </ul>
                      </div>
                      <div class="tab-pane fade" id="self-help">
                        <ul class="aa-product-catg">
                          <% @books = @categories[2].books.limit(4) %>
                          <%= render partial: 'book', collection: @books, locals: {home: true} %>
                        </ul>
                      </div>
                      <div class="tab-pane fade" id="competition-exams">
                        <ul class="aa-product-catg">
                          <% @books = @categories[3].books.limit(4) %>
                          <%= render partial: 'book', collection: @books, locals: {home: true} %>
                        </ul>
                      </div>
                      <div class="tab-pane fade" id="educational">
                        <ul class="aa-product-catg">
                          <% @books = @categories[4].books.limit(4) %>
                          <%= render partial: 'book', collection: @books, locals: {home: true} %>
                        </ul>
                      </div>
                      <div class="tab-pane fade" id="spiritual">
                        <ul class="aa-product-catg">
                          <% @books = @categories[5].books.limit(4) %>
                          <%= render partial: 'book', collection: @books, locals: {home: true} %>
                        </ul>

                      </div>
                      <%= link_to books_url, class: "aa-browse-btn" do %>
                        Browse all Product
                        <span class="fa fa-long-arrow-right"></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- end of product section -->
    <!-- popular section -->
    <section id="aa-popular-category">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="aa-popular-category-area">
                <!-- start prduct navigation -->
               <ul class="nav nav-tabs aa-products-tab">
                  <li class="active"><a href="#popular" data-toggle="tab">Popular</a></li>
                  <li><a href="#featured" data-toggle="tab">Featured</a></li>
                  <li><a href="#latest" data-toggle="tab">Latest</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <!-- Start men popular category -->
                  <div class="tab-pane fade in active" id="popular">
                    <ul class="aa-product-catg aa-popular-slider">

                    </ul>
                    <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                  </div>
                  <!-- / popular product category -->

                  <!-- start featured product category -->
                  <div class="tab-pane fade" id="featured">
                   <ul class="aa-product-catg aa-featured-slider">
                      <!-- start single product item -->
                      <li>
                        <figure>
                          <a class="aa-product-img" href="#"><img src="" alt="polo shirt img"></a>
                          <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                           <figcaption>
                            <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                          </figcaption>
                        </figure>
                        <div class="aa-product-hvr-content">
                          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                        </div>
                        <!-- product badge -->
                        <span class="aa-badge aa-sale" href="#">SALE!</span>
                      </li>
                    </ul>
                    <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                  </div>
                  <!-- / featured product category -->

                  <!-- start latest product category -->
                  <div class="tab-pane fade" id="latest">
                    <ul class="aa-product-catg aa-latest-slider">
                      <!-- start single product item -->
                      <li>
                        <figure>
                          <a class="aa-product-img" href="#"><img src="" alt="polo shirt img"></a>
                          <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                           <figcaption>
                            <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                            <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                          </figcaption>
                        </figure>
                        <div class="aa-product-hvr-content">
                          <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                        </div>
                        <!-- product badge -->
                        <span class="aa-badge aa-sale" href="#">SALE!</span>
                      </li>
                       <!-- start single product item -->
                    </ul>
                     <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                  </div>
                  <!-- / latest product category -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / popular section -->
    <%= render 'shared/support' %>
    <%= render 'shared/subscribe' %>
    <%= render 'shared/footer' %>
  </body>
</html>
