<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author_name %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @book.publication_name %>
</p>

Enter your pincode to check for delivery.
<%= form_tag check_pincode_path(@book) do %>
  <%= number_field_tag :pincode, type: "number" %>
<% end %>

<%= link_to 'Catalog Images', book_book_catalogs_path(@book) %>
<%= link_to 'Back', books_path %>
