<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Book Store | Home</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
   <!-- wpf loader Two -->
    <!-- <div id="wpf-loader-two">
      <div class="wpf-loader-two-inner">
        <span>Loading</span>
      </div>
    </div> -->
    <!-- / wpf loader Two -->
  <!-- SCROLL TOP BUTTON -->
    <!-- <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a> -->
  <!-- END SCROLL TOP BUTTON -->
  <!-- Start header section -->
    <%= render 'shared/header' %>
  <!-- End of header section -->
  <!-- Start of menu section -->
    <%= render 'shared/menu' %>
    <!-- catg header banner section -->
    <section id="aa-catg-head-banner">
     <%= image_tag("fictional2.png", alt:"fictional image") %>
     <div class="aa-catg-head-banner-area">
       <div class="container">
        <div class="aa-catg-head-banner-content">
          <h2><%= @book.name %></h2>
          <!-- <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Product</a></li>
            <li class="active">T-shirt</li>
          </ol> -->
        </div>
       </div>
     </div>
    </section>
    <!-- / catg header banner section -->
    <!-- product category -->
    <section id="aa-product-details">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-product-details-area">
              <div class="aa-product-details-content">
                <div class="row">
                  <!-- Modal view slider -->
                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="aa-product-view-slider">
                      <div id="demo-1" class="simpleLens-gallery-container">
                        <div class="simpleLens-container">
                          <div class="simpleLens-big-image-container">
                            <div class="aa-book-bookmark-area">
                              <!-- <a data-lens-image="" class="simpleLens-lens-image"> -->
                                <%= image_tag(@book.front_image, class:"simpleLens-big-image", alt: "#{@book.name} image")%>
                              <!-- </a> -->
                              <a class="" href="#">
                                <i class="fa fa-bookmark"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="simpleLens-thumbnails-container">
                            <a data-big-image="" data-lens-image="" class="simpleLens-thumbnail-wrapper" href="#">
                              <img src="">
                            </a>
                            <a data-big-image="" data-lens-image="" class="simpleLens-thumbnail-wrapper" href="#">
                              <img src="">
                            </a>
                            <a data-big-image="" data-lens-image="" class="simpleLens-thumbnail-wrapper" href="#">
                              <img src="">
                            </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal view content -->
                  <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="aa-product-view-content">
                      <h3><%= @book.name %></h3></br>
                      <div class="aa-price-block">
                        <div class="aa-product-price">
                          <strong>₹ <%= @book.price.to_i %></strong>
                        </div>
                        <p class="aa-product-availability"><span class="label label-success label-style">In Stock</span></br>
                      </div>
                      <div class="aa-product-delivery">
                        <i class="fa fa-map-marker tealincolor"></i> Enter pincode to check for delivery</br></br>
                        <div class="aa-pincode-form">
                          <%= form_tag check_pincode_path(@book), class: "form-group" do %>
                            <%= text_field :pincode, type: "number", class: "form-control" %>
                          <% end %>
                        </div>
                      </div>
                      <div class="aa-prod-view-bottom">
                        <%= link_to 'Rent Now', book_carts_path(@book), method: :post, class: "aa-browse-btn" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="aa-product-details-bottom">
                <ul class="nav nav-tabs aa-plans-tab">
                   <li class="active"><a href="#description" data-toggle="tab">Book Details</a></li>
                   <!-- <li><a href="#reviews" data-toggle="tab">Review</a></li> -->
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="description">
                    <div class="aa-book-author-title">
                      <span class="fa fa-user"></span> Author
                    </div>
                    <div class="aa-book-author-name">
                      <ul>
                        <li><%= @book.author_name %></li>
                      </ul>
                    </div>
                    <div class="aa-book-author-title">
                      <span class="fa fa-book"></span> Publication
                    </div>
                    <div class="aa-book-author-name">
                      <ul>
                        <li><%= @book.publication_name %></li>
                      </ul>
                    </div>
                    <div class="aa-book-author-title">
                      <span class="fa fa-pencil-square-o"></span> Edition
                    </div>
                    <div class="aa-book-author-name">
                      <ul>
                        <li><%= local_time(@book.edition, '%Y') %></li>
                      </ul>
                    </div>
                    <div class="aa-book-author-title">
                      <span class="fa fa-align-justify" aria-hidden="true"></span> Description
                    </div>
                    <div class="aa-book-author-name">
                      <ul>
                        <li><%= @book.desc %></li>
                      </ul>
                    </div>
                    <div class="aa-book-author-title">
                      <span class="fa fa-language" aria-hidden="true"></span> Language
                    </div>
                    <div class="aa-book-author-name">
                      <ul>
                        <li><%= @book.lang %></li>
                      </ul>
                    </div>
                    <div class="aa-book-author-title">
                      <span class="fa fa-info-circle" aria-hidden="true"></span> ISBN No.
                    </div>
                    <div class="aa-book-author-name">
                      <ul>
                        <li><%= @book.isbn_no %></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / product category -->
    <!-- / popular section -->
    <%= render 'shared/support' %>
    <%= render 'shared/subscribe' %>
    <%= render 'shared/footer' %>
  </body>
</html>
