<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Book Store | Home</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> -->

  </head>
  <body>
   <!-- wpf loader Two -->
    <!-- <div id="wpf-loader-two">
      <div class="wpf-loader-two-inner">
        <span>Loading</span>
      </div>
    </div> -->
    <!-- / wpf loader Two -->
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->
  <!-- Start header section -->
    <%= render 'shared/header' %>
  <!-- End of header section -->
  <!-- Start of menu section -->
    <%= render 'shared/menu' %>
  <!-- End of menu section -->
    <!-- catg header banner section -->
    <!-- <section id="aa-catg-head-banner">

     <div class="aa-catg-head-banner-area">
       <div class="container">
        <div class="aa-catg-head-banner-content">
          <h2>Cart Page</h2>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Cart</li>
          </ol>
        </div>
       </div>
     </div>
    </section> -->
    <!-- / catg header banner section -->

   <!-- Cart view section -->
   <section id="cart-view">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="cart-view-area">
             <div class="cart-view-table">
                 <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th>Book</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @cart_books.each do |cart_book| %>
                          <tr>
                            <td>
                              <%= link_to destroy_cart_book_path(cart_book), method: :delete, data: { confirm: 'Are you sure?' }, class:'remove' do %>
                                <fa class="fa fa-close"></fa>
                              <% end %>
                            </td>
                            <td>
                              <%= image_tag(cart_book.book.front_image, alt: "#{cart_book.book.name} image") %>                              
                            </td>
                            <td>
                              <%= link_to cart_book.book, class: 'aa-cart-title' do %>
                                <%= cart_book.book.name %> by <%= cart_book.book.author_name %>
                              <% end %>
                            </td>
                            <td>₹ <%= cart_book.price %></td>
                            <!-- <td><input class="aa-cart-quantity" type="number" value="1"></td> -->
                            <!-- <td>$250</td> -->
                          </tr>
                        <% end %>
                        <tr>
                          <td colspan="6" class="aa-cart-view-bottom">
                            <%= link_to 'Continue renting more books', books_url, class: 'aa-browse-btn' %>
                          </td>
                        </tr>
                        </tbody>
                    </table>
                  </div>
               <!-- Cart Total view -->
               <div class="cart-view-total">
                 <h4>Cart Totals</h4>
                 <table class="aa-totals-table">
                   <tbody>
                     <tr>
                       <th>Subtotal</th>
                       <td>₹ <%= @cart.value %></td>
                     </tr>
                     <tr>
                       <th>Total</th>
                       <td>₹ <%= @cart.value %></td>
                     </tr>
                   </tbody>
                 </table>
                 <%= link_to 'Proced to Checkout', select_shipping_address_path, class: 'aa-browse-btn'  %>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!-- / Cart view section -->
<%= render 'shared/support' %>
<%= render 'shared/subscribe' %>
<%= render 'shared/footer' %>
