<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Book Store | Home</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> -->

  </head>
  <body>
   <!-- wpf loader Two -->
    <!-- <div id="wpf-loader-two">
      <div class="wpf-loader-two-inner">
        <span>Loading</span>
      </div>
    </div> -->
    <!-- / wpf loader Two -->
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->
  <!-- Start header section -->
    <%= render 'shared/header' %>
  <!-- End of header section -->
  <!-- Start of menu section -->
    <%= render 'shared/menu' %>
  <!-- End of menu section -->
    <section id="aa-myaccount">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
           <div class="aa-myaccount-area">
             <div class="aa-myaccount-login">
               <h4>Login</h4>
               <div class="aa-login-form">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "aa-login-form") do |f| %>
                  <label for="">Email<span>*</span></label>
                  <%= f.text_field :email, autofocus: true, placeholder: "Email" %>
                  <!-- <span class="fa fa-lock tealincolor"></span> -->
                  <label for="">Password<span>*</span></label>
                  <%= f.password_field :password, autocomplete: "off",placeholder: "Password" %>
                  <!-- <span class="login-alert">Invalid Credentials</span> -->
                  <%= f.submit "Log In", class:"aa-browse-btn" %>
                <% end %>
                <div class="signup">
                  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                    Don't have an account ?
                    <%= link_to "Sign up", new_registration_path(resource_name) %><br />
                  <% end -%>
                </div>
                <div class= "aa-lost-password">
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                  <% end -%>
                </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%= render 'shared/support' %>
    <%= render 'shared/subscribe' %>
    <%= render 'shared/footer' %>
  </body>
</html>
