<%= form_for(plan) do |f| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :fee %>
    <%= f.text_field :fee %>
  </div>

  <div class="field">
    <%= f.label :security %>
    <%= f.text_field :security %>
  </div>

  <div class="field">
    <%= f.label :no_book %>
    <%= f.number_field :no_book %>
  </div>

  <div class="field">
    <%= f.label :max_book %>
    <%= f.number_field :max_book %>
  </div>

  <div class="field">
    <%= f.label :max_price %>
    <%= f.text_field :max_price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
