<p id="notice"><%= notice %></p>

<h1>Plans</h1>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.plan-name {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: red;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<% @plans.each do |plan| %>
  <table>
    <thead>
      <tr>
        <th class= 'plan-name'><%= plan.name %></th>
      </tr>
    </thead>
    <tbody>
    <thead>
      <tr>
        <th>Name</th>
        <th>Fee</th>
        <th>Security deposit (Refundable)</th>
        <th>Total Books</th>
        <th>Maximum Price</th>
      </tr>
    </thead>
    <tbody>
      <% plan.sub_plans.each do |sub_plan| %>
        <tr>
          <td><%= sub_plan.name %></td>
          <td><%= sub_plan.fee %></td>
          <td><%= sub_plan.security %></td>
          <td><%= sub_plan.max_book %></td>
          <td><%= sub_plan.max_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
